<script id="job">
    var job_table_title = [
        {field: 'url', title: 'url', align: 'center', width: 300},
        {field: 'action', title: 'action', align: 'center'},
        //{field: 'method', title: 'method', align: 'center'},
        // {field: 'body', title: 'body', align: 'center'},
        // {field: 'header', title: 'header', align: 'center'},
        {field: 'param', title: '请求参数', align: 'center'},
        // {field: 'status', title: '返回状态', align: 'center'},
        // {field: 'exception', title: '异常报告', align: 'center'},
        // {field: 'result', title: '返回结果', align: 'center'},
        // {field: 'personId', title: '用户id', align: 'center'},
        {field: 'personToken', title: '用户token', align: 'center'},
        {field: 'personInfo', title: '用户基本信息', align: 'center'},
        {field: 'startTime', title: '开始时间', align: 'center', templet: '#job_startTime'},
        {field: 'time', title: '用时', align: 'center', templet: '#job_time', width: 100},
        {field: 'error', title: 'error', align: 'center', templet: '#job_error', width: 100},
        {title: '操作', align: 'center', toolbar: '#job_toolbar'}
    ]
</script>
<script id="job_startTime" type="text/html">
    {{(new Date(d.startTime)).Format("hh:mm:ss yy-MM-dd")}}
</script>
<script id="job_time" type="text/html">
    {{Number(d.endTime)-Number(d.startTime)}}ms
</script>
<script id="job_error" type="text/html">
    {{# if(d.error==1){ }}
    <span style="font-size: 10px; color: #FF0000;">X</span>
    {{# } }}
</script>
<script id="job_toolbar" type="text/html">
    <a class="layui-btn layui-btn-xs" lay-event="view">详情</a>
</script>
<script id="job_tab" type="text/html">
    <div>
        <div class="layui-row">
            <div class="layui-col-md12 layui-col-md-offset0">
                <div class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" name="url" placeholder="url" autocomplete="on" class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="personToken" placeholder="personToken" autocomplete="on"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="personInfo" placeholder="personInfo" autocomplete="on"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="startTime" class="layui-input" id="jobStartTime">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="endTime" class="layui-input" id="jobEndTime">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">只显示error</label>
                            <input type="checkbox" name="error" lay-skin="switch" lay-text="on|off" value="1" lay-filter="job_error">
                        </div>
                        <div class="layui-btn-group">
                            <button class="layui-btn" lay-submit lay-filter="job_search">查询</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <table id="job_table" lay-filter="job_table"></table>
            </div>
        </div>
    </div>
</script>
<script id="job_form" type="text/html">
    <div class="layui-fluid" style="margin: 10px">
        <div class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">url</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" lay-verify="required" name="url" value="{{d.url}}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">action</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" lay-verify="required" name="action" value="{{d.action}}"
                               disabled>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">method</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="method" value="{{d.method}}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">status</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="status" value="{{d.status}}" disabled>
                    </div>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">header</label>
                <div class="layui-input-block">
                    <textarea placeholder="" class="layui-textarea">{{d.header}}</textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">param</label>
                <div class="layui-input-block">
                    <textarea placeholder="" class="layui-textarea">{{d.param}}</textarea>
                </div>
            </div>
            <div class="layui-collapse">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">exception</h2>
                    <div class="layui-colla-content layui-show">
                        <pre class="layui-code">{{d.exception}}</pre>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">result</h2>
                    <div class="layui-colla-content layui-show">
                        <pre class="layui-code">{{d.result}}</pre>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">用户信息</h2>
                    <div class="layui-colla-content layui-show">{{d.personId+","+d.personToken+","+d.personInfo}}</div>
                </div>
            </div>
        *{<div class="layui-form-item" style="margin-top: 10px">}*
        *{<div class="layui-inline">}*
        *{<div class="layui-input-inline"></div>}*
        *{</div>}*
        *{<div class="layui-inline">}*
        *{<div class="layui-input-inline">}*
        *{<button class="layui-btn" lay-submit lay-filter="job_close">}*
        *{关闭}*
        *{</button>}*
        *{<button type="reset" class="layui-btn layui-btn-primary">重置</button>}*
        *{</div>}*
        *{</div>}*
        *{</div>}*
        </div>
    </div>
</script>