<script id="job">
    var job_table_title = [
        {field: 'name', title: 'name', align: 'center'},
        {field: 'executor', title: 'executor', align: 'center'},
        {field: 'context', title: 'context', align: 'center'},
        {field: 'startTime', title: '开始时间', align: 'center', templet: '#job_startTime'},
        {field: 'endTime', title: '开始时间', align: 'center', templet: '#job_endTime'},
        {field: 'time', title: '用时', align: 'center', templet: '#job_time'},
        // {field: 'error', title: 'error', align: 'center', templet: '#job_error'},
        {field: 'exception', title: 'exception', align: 'center'},
        {field: 'env', title: 'env', align: 'center'},
    ]
</script>
<script id="job_startTime" type="text/html">
    {{(new Date(d.startTime)).Format("hh:mm:ss yy-MM-dd")}}
</script>
<script id="job_endTime" type="text/html">
    {{(new Date(d.endTime)).Format("hh:mm:ss yy-MM-dd")}}
</script>
<script id="job_time" type="text/html">
    {{Number(d.endTime)-Number(d.startTime)}}ms
</script>
<script id="job_error" type="text/html">
    {{# if(d.error==1){ }}
    <span style="font-size: 10px; color: #FF0000;">X</span>
    {{# } }}
</script>
<script id="job_tab" type="text/html">
    <div>
        <div class="layui-row">
            <div class="layui-col-md10 layui-col-md-offset2">
                <div class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" name="name" placeholder="name" autocomplete="on" class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="env" placeholder="env" autocomplete="on"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="startTime" class="layui-input" id="jobStartTime">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="endTime" class="layui-input" id="jobEndTime">
                        </div>
                        <div class="layui-input-inline">
                            <label class="layui-form-label">只显示error</label>
                            <input type="checkbox" name="error" lay-skin="switch" lay-text="on|off" value="1"
                                   lay-filter="job_error">
                        </div>
                        <div class="layui-btn-group">
                            <button class="layui-btn" lay-submit lay-filter="job_search">查询</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <table id="job_table" lay-filter="job_table"></table>
            </div>
        </div>
    </div>
</script>