<script id="auth">
    var auth_table_title = [
        {checkbox: true},
        {field: 'authId', title: 'ID', align: 'center'},
        {field: 'name', title: '名称', align: 'center'},
        {field: 'access', title: '包含权限', align: 'center'},
        {title: '操作', align: 'center', toolbar: '#auth_toolbar'}
    ]
</script>
<script id="auth_toolbar" type="text/html">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script id="auth_tab" type="text/html">
    <div>
        <div class="layui-row">
            <div class="layui-col-md4 layui-col-md-offset8">
                <div class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" name="search" placeholder="名称" autocomplete="on" class="layui-input">
                        </div>
                        <div class="layui-btn-group">
                            <button class="layui-btn" lay-submit lay-filter="auth_search">查询</button>
                            <button class="layui-btn" lay-submit lay-filter="auth_form">新增</button>
                            <button class="layui-btn layui-btn-danger" lay-submit lay-filter="auth_list_del">删除</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <table id="auth_table" lay-filter="auth_table"></table>
            </div>
        </div>
    </div>
</script>
<script id="auth_form" type="text/html">
    <div class="layui-fluid" style="margin: 10px">
        <div class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">权限名称</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="name" lay-verify="required" value="{{d.name}}">
                </div>
            </div>
            <div class="layui-form-item" pane>
                <label class="layui-form-label">权限设置</label>
                <div class="layui-input-block">
                    {{# $.each(ACCESS,function (index, item) { }}
                    <input type="checkbox" name="code" title="{{item.intro}}" value="{{item.code}}"
                           {{d.codes.indexOf(item.code)>-1?'checked':''}} >
                    {{# }); }}
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline"></div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="hidden" name="authId" value="{{d.authId}}">
                        <button class="layui-btn" lay-submit lay-filter="{{d.authId==''?'auth_add':'auth_edit'}}">保存
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>