<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>doc</title>
    <link rel="stylesheet" href="@{'public/doc/doc.css'}">
    <link rel="stylesheet" href="@{'public/jquery/jquery.jsonview.min.css'}">
</head>
<body>
<h1><a href="/readme">readme</a></h1>
<hr>
<h3><span><a href="${url}">${api}</a></span></h3>
<blockquote>
    <h4>${url.replace("?doc","")}</h4>
    <table>
        <thead>
        <tr>
            <th>参数</th>
            <th>说明</th>
            <th>类型</th>
            <th>必填</th>
            <th>示例</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>
        #{list items:param, as:'p'}
        <tr>
            <td>${p[0]}</td>
            <td>${p[1]}</td>
            <td>${p[2]}</td>
            <td>${p[3]}</td>
            <td>${p[4]}</td>
            <td>${p[5]}</td>
        </tr>
        #{/list}
        </tbody>
    </table>
</blockquote>
#{if result.length()>0}
<div>
    <input type="hidden" name="json_data" id="json_data" value="${result}"/>
    <button id="collapse-btn">全部折叠</button>
    <button id="expand-btn">全部展开</button>
    <div id="json"></div>
    *{<pre><code class="language-none">${result}</code></pre>}*
</div>
#{/if}

<h3>状态码</h3>
<div>
    <pre><code class="language-none">#{list items:codes, as:'code'}${code}#{/list}</code></pre>
</div>

<h3>枚举表</h3>
#{list items:enums, as:'e'}
<h6>${e.getKey()}</h6>
<table>
    <thead>
    <tr>
        <th>数值</th>
        <th>说明</th>
    </tr>
    </thead>
    <tbody>
        #{list items:e.getValue(), as:'value'}
        <tr>
            <td>${value[0]}</td>
            <td>${value[1]}</td>
        </tr>
        #{/list}
    </tbody>
</table>
#{/list}
</body>
<script src="@{'public/jquery/jquery.min.js'}"></script>
<script src="@{'public/doc/doc.js'}"></script>
<script src="@{'public/jquery/jquery.jsonview.min.js'}"></script>
</html>
